<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery">
    <pipelines>
      <mvc.requestBegin>
        <processor type="Sitecore.ContentTesting.Mvc.Pipelines.Response.RequestBegin.EvaluateTestExposure, Sitecore.ContentTesting.Mvc"
                   set:type="Sitecore.Support.ContentTesting.Mvc.Pipelines.Response.RequestBegin.EvaluateTestExposure, Sitecore.Support.286052"/>
      </mvc.requestBegin>
      <renderLayout>
        <processor type="Sitecore.ContentTesting.Pipelines.RenderLayout.EvaluateTestExposure, Sitecore.ContentTesting" 
                   set:type="Sitecore.Support.ContentTesting.Pipelines.RenderLayout.EvaluateTestExposure, Sitecore.Support.286052"/>
      </renderLayout>
    </pipelines>
  </sitecore>
</configuration>